In [5]:
dias = [3, 1, 10]
dias[0]

3

In [7]:
z=[3,8,9]
z[0]=7
z

[7, 8, 9]

In [13]:
v=[6,7,8,9]
#criar uma lista
l=v
#criar um ponteiro
print(v==l)
print(v is l)
v[0]=5
print(v)
print(l)

True
True
[5, 7, 8, 9]
[5, 7, 8, 9]

In [15]:
a = [81,82,83]
b = a[:]
#criar um clone
print(a==b)
#o conteúdo de a é igual ao conteúdo de b?
print(a is b)
#a é b?
b[0]
print(a)
print(b)

True
False
[81, 82, 83]
[81, 82, 83]

In [18]:
umaLista = ['a','b','c', 'd', 'e', 'f']
print(umaLista[1:3]) #ignore o índice zero
print(umaLista[:4]) #até o índice três
print(umaLista[3:]) #apartir do índice três
print(umaLista[:]) #a lista toda

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
a = [1,2,3]
b=a[:]
b[0]=5
print(a[2])

3

In [38]:
myList =[76,92.3,'oi',True,4,76]
myList[:]= 'pitomba'
myList

['p', 'i', 't', 'o', 'm', 'b', 'a']

In [9]:
#a) inserir "pitomba" e 76 no final da lista
#b)inserir o valor "cibele" na posição de indice 3
#c) inserir o valor 99 no início da lista
#d) encontrar o indice de "oi"
#e) remover true da lista

myList =[76,92.3,'oi',True,4,76]
myList[3] = 'Cibele' #b) & e)
myList[0] = 99 #c)
theList = ['pitomba', 76] 
myList =  myList + theList
myList

if(myList[0] != 'oi'): #d)
    print()
else:
    print('O índice é 0')

if(myList[1] != 'oi'):
    print()
else:
    print('O índice é 1')

if(myList[2] != 'oi'):
    print()
else:
    print('O índice é 2')

if(myList[3] != 'oi'):
    print()
else:
    print('O índice é 3')

if(myList[4] != 'oi'):
    print()
else:
    print('O índice é 4')

if(myList[5] != 'oi'):
    print()
else:
    print('O índice é 5')

if(myList[6] != 'oi'):
    print()
else:
    print('O índice é 6')

if(myList[7] != 'oi'):
    print()
else:
    print('O índice é 7')

myList

O índice é igual a 2

[99, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [11]:
ummaLista = [4,2,8,6,5]
ummaLista = ummaLista + ['Cibele']
print(ummaLista)

[4, 2, 8, 6, 5, 'Cibele']

In [1]:
tuplaNumeros = (10,20,30)
tuplaNumeros

(10, 20, 30)

In [3]:
tuplaVazia = ()
soleTupla = tuple('teste')
soleTupla

('t', 'e', 's', 't', 'e')

In [5]:
tuplaNomes = ('Marlene','Zezinho','Marlene','Cibele','Zueli')
tuplaNomes.count('Marlene')
tuplaNomes.count('Suely')

0

In [8]:
tuplaElem=(1,2,2,3,4,4,4)
tuplaElem.count(4)

3